<app-navbar></app-navbar>
<div class="container rounded bg-white">
    <div class="row justify-content-center">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-1">
                <img class="rounded-circle mt-5" width="150px"
                    src="{{user.pictureURL || 'assets/pictures/defaultImg.png'}}" width="200" height="200" />
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <h3>{{user.firstName}} {{user.lastName}}</h3>
                <h6 class="text-black-50">{{user.email}}</h6>
                <div class="row">
                    <div class="col-8 pt-3">
                        <div class="mb-2"><b>Website: </b>{{user.websiteURL}}</div>
                        <div class="mb-2"><b>Phone number: </b>{{user.phoneNumber}}</div>
                        <button type="button" *ngIf="loggedInUser != user.email" class="btn btn-primary mt-3" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Send message
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="text-center">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" id="spinner" role="status"></div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Date Created</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Location</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.createdAt | date}}</td>
                        <td>{{item.price | currency:'BGN':'symbol':'1.2-2'}}</td>
                        <td>
                            <div *ngIf="item.isActive == true">
                                <div class="status text-success">&bull;</div>Active
                            </div>
                            <div *ngIf="item.isActive == false">
                                <div class="status text-danger">&bull;</div>Not Active
                            </div>
                        </td>
                        <td><span class="status text-success">&bull;</span> {{item.city}}, {{item.address}}</td>
                        <td>
                            <a [routerLink]="['/viewLandholding', item.id]" class="view" title="View"
                                data-toggle="tooltip"><i class="fa fa-eye"></i></a>
                            <a *ngIf="loggedInUser == user.email" [routerLink]="['/editLandholding', item.id]" class="settings" title="Settings"
                                data-toggle="tooltip"><i class="fa fa-cog"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send a message:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <textarea type="text" class="form-control" id="message"
                        placeholder="Enter your message here:"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeModal" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>