<div class="container">
    <div class="card">
        <h2 class="text-center mb-4">Reset Password</h2>
        <form [formGroup]="resetPasswordForm">
            <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="{{userEmail}}" readonly>
            </div>
            <div class="form-group mt-2">
                <label for="password">New password</label>
                <div class="input-group">
                    <input formControlName="newPassword" [(ngModel)]="newPassword" type="password" id="newPassword" class="form-control" placeholder="Enter password">
                </div>
            </div>
            <small *ngIf="resetPasswordForm.controls['newPassword'].dirty && resetPasswordForm.hasError('required', 'newPassword')" class="text-danger">*Password is required</small>
            <small *ngIf="resetPasswordForm.controls['newPassword'].dirty && resetPasswordForm.hasError('pattern', 'newPassword')" class="text-danger">*Password should contain 8 letters, with at least a symbol, upper and lower case letters and a number.</small>
            <div class="form-group mt-2">
                <label for="confirmNewPassword">Confirm new password</label>
                <div class="input-group">
                    <input type="password" formControlName="confirmNewPassword" [(ngModel)]="confirmedPassword" class="form-control" placeholder="Confirm new password">
                </div>
            </div>
             <small *ngIf="(resetPasswordForm.controls['confirmNewPassword'].errors?.['passwordMismatch'])" class="text-danger">*Passwords don't match</small>
            <button (click)="resetPassword()" type="submit" class="btn btn-primary login-btn mt-4" id="resetButtonId">Reset Password</button>
        </form>
    </div>
</div>