.card {
    margin-top: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  }

  .show-password {
    cursor: pointer;
    user-select: none;
  }

  .forgot-password,
  .no-account {
    text-align: center;
  }

  .login-btn {
    width: 100%;
  }