<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Welcome to Real Estater!</title>
  <link rel="icon" type="image/x-icon" href="/src/assets/favicon-16x16.ico">
</head>

<body id="page-top">
  <nav class="navbar navbar-expand-md bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <div class="collapse navbar-collapse mx-auto" id="navbarResponsive">
        <ul class="navbar-nav justify-content-center">
          <li class="nav-item mx-0 mx-md-1"><a class="nav-link py-1 px-0 px-md-2 rounded" href="#about">About</a></li>
          <li class="nav-item mx-0 mx-md-1"><a class="nav-link py-1 px-0 px-md-2 rounded" href="#feedback">Feedback</a>
          </li>
          <li class="nav-item mx-0 mx-md-1"><a class="nav-link py-1 px-0 px-md-2 rounded"
              href="http://localhost:4200/login">Log in</a></li>
          <li class="nav-item mx-0 mx-md-1"><a class="nav-link py-1 px-0 px-md-2 rounded"
              href="http://localhost:4200/signUp">Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <div class="d-flex align-items-center mb-5">
        <img src="../../../assets/favicon-96x96.ico" class="px-2" />
        <h1 class="masthead-heading text-uppercase">Welcome to Real Estater</h1>
      </div>

      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fa-solid fa-pen"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <p class="masthead-subheading font-weight-light mb-0">The new modern solution for buying a property!</p>
    </div>
  </header>
  <section class="page-section portfolio" id="about" style="background-color: #eee;">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fa fa-home"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="row">
        <div class="col-lg-4 ms-auto">
          <p class="lead text-center">Real Estater is a cutting-edge real estate web application that is revolutionizing
            the way people buy and sell properties. With its user-friendly interface and powerful features, Real Estater
            is quickly becoming the next big hit in the real estate market.</p>
        </div>
        <div class="col-lg-4 me-auto">
          <p class="lead text-center">Real Estater provides a comprehensive platform for real estate agents, brokers,
            and home buyers/sellers to connect and collaborate seamlessly. The app offers an intuitive search engine,
            detailed property listings, interactive property tours, and advanced mapping and filtering tools to help
            users find their dream property quickly and easily.</p>
        </div>
      </div>
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-dark" href="http://localhost:4200/signUp">
          <i class="fas fa-pencil-alt"></i>
          Sign up now!
        </a>
      </div>
    </div>
  </section>
  <section class="page-section bg-primary text-white mb-0" id="feedback">
    <div class="container">
      <h2 class="page-section-heading text-center text-uppercase text-white">Hear from our customers</h2>
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fa fa-home"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="card mx-auto" style="width: 18rem;">
            <img src="../../../assets/pictures/man2.jpg" class="card-img container-auto">
            <div class="card-body">
              <h5 class="card-title text-dark">John Smith</h5>
              <p class="card-text text-dark">I found my dream home through this real estate website, thanks to its
                user-friendly interface and comprehensive search tools.</p>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <img src="../../../assets/pictures/man1.jpg" class="card-img">
            <div class="card-body">
              <h5 class="card-title text-dark">Ivan Petrov</h5>
              <p class="card-text text-dark text-justify">Selling my house was a breeze - Real Estater helped me sell my
                property
                to a wider audience and connect with potential buyers seamlessly.</p>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto" style="width: 18rem;">
            <img src="../../../assets/pictures/woman1.jpg" class="card-img">
            <div class="card-body">
              <h5 class="card-title text-dark">Samantha Fry</h5>
              <p class="card-text text-dark text-justify">I highly recommend this real estate website - the expert
                agents here
                provided me with valuable insights, leading to a successful sale at a great price.</p>
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star checked mx-auto"></div>
                  </div>
                  <div class="col">
                    <div class="fa fa-star unchecked mx-auto"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-2 mb-3 mb-md-0">
          <h3 class="text-uppercase">Location</h3>
          <p class="lead">
            2215 John Daniel Drive
            <br />
            Sofia, MO 65243
          </p>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright py-3 text-center text-white">
    <div class="container"><small>Copyright &copy; RealEstater 2023</small></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/js/scripts.js"></script>
</body>

</html>